{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static' ,filename ='img/about2.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h2>{{info.dashboard_heading}}</h2>
            <span class="subheading">{{info.dashboard_subheading}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2>Adding/Editing Posts</h2>
        <hr>
        <td><a href="/edit/0"><button class="btn btn-primary float-left">Add New Post</button></a></td>
        <td><a href="/logout"><button class="btn btn-primary float-left">Logout</button></a></td>
        
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Sno</th>
      <th scope="col">title</th>
      <th scope="col">slug</th>
      
      <th scope="col">date</th>
      <th scope="col">img_file</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
      <td>{{post.sno}}</td>
      <td>{{post.title}}</td>
      <td>{{post.slug}}</td>
      
      <td>{{post.date}}</td>
      <td>{{post.img_file}}</td>
      <td><a href="/edit/{{post.sno}}"><button class="btn btn-primary float-right">Edit</button></a></td>
      <td><a href="/delete/{{post.sno}}"><button class="btn btn-primary float-right">Delete</button></a></td>

    </tr>
    {% endfor %}
  </tbody>
</table>











        
    
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  