{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static' ,filename ='img/about2.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h2>{{info.edit_heading}}</h2>
            <span class="subheading">{{info.edit_subheading}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
 
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
<h1>Add/Edit Posts</h1>


<form name="sentMessage" id="Edit" action="/edit/{{sno}}" method= "post" novalidate>
        
  <input class="form-control form-control-lg" type="text" id ="title" name ="title" placeholder="Add Title Here" value = "{{post.title}}">
  <input class="form-control form-control-lg" type="text" id ="slug" name ="slug" placeholder="SLUG" value = "{{post.slug}}">

<input class="form-control form-control-lg" type="text" id ="image" name ="content" placeholder="Content" 
value= "{{post.content}}">
  


  <input class="form-control form-control-lg" type="text" id ="image" name ="image" placeholder="IMAGE" value = "{{post.img_file}}">

<div class="form-group">
    <button type="submit" class="btn btn-primary" id="sendEdit">Sumbit</button>
</div>
</form>









        
    
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  